name: Lint the files to ensure code quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Connect workflow to repository
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - name: Install all required dependencies
        run: yarn install
      - name: Lint the files
        run: yarn lint
